/* style.css */

/* Hide default scrollbar */
.scroll-container {
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color:rgb(37, 36, 34); /* For Firefox */
}

/* WebKit (Chrome, Safari, Opera) */
.scroll-container::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* WebKit (Chrome, Safari, Opera) */
.scroll-container::-webkit-scrollbar-thumb {
  background-color:rgb(68, 65, 58); /* Color of the thumb */
  border-radius: 6px; /* Roundness of the thumb */
}

/* WebKit (Chrome, Safari, Opera) */
.scroll-container::-webkit-scrollbar-track {
  background: #f7fafa;

  /* Color of the track */
}

/* Additional styles can be added as needed */
